.container {
    width: 40%;
    /* height: 100%; */
    display: grid;
    grid-template: 40px 40px 40px 40px 40px/
    40px 40px 40px 40px 40px;
    background-color: lightblue;
    grid-template-areas: "living-room living-room living-room living-room living-room"
    "living-room living-room living-room living-room living-room"
    "bedroom bedroom bathroom kitchen kitchen"
    "bedroom bedroom bathroom kitchen kitchen"
    "closet closet . . .";
}

.room {
    border: 1px solid;
    font-size: 60%;
    text-align: center;
    /* text-overflow: initial; */
    /* text-wrap:wrap; */
}

#living-room {
    /* grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-area: 1/1/3/6; */
    grid-area: living-room;
    

}

#bathroom {
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6; */
    /* grid-area: 3/1/6/2; */
    grid-area: bathroom;


}

#bedroom {
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5; */
    /* grid-area: 3/2/5/4; */
    grid-area: bedroom;

}

#kitchen {
    /* grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6; */
    /* grid-area: 3/4/6/6; */
    grid-area: kitchen;

}

#closet {
    /* grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4; */
    /* grid-area: 5/2/6/4; */
    grid-area: closet;

    
}